.pagination {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  li {
    display: inline-block;


    a {
      display:flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 20px;
      text-align: center;
      color: #fe5f1e;
    }

    &:hover {
      background-color: #fe5f1e;
      cursor: pointer;
        border-radius: 20px;

      a {
        color: white;
      }
    }
  }
  :global{
    .selected{
      a{
        background-color: #fe5f1e;
        color:#fff;
      }
    }
  }
}